.error {
  color: red;
  font-weight: bold;
}

.modal.errorWindow {
  border: 2px solid black;
  background-color: rgb(245, 190, 190);
  text-align: center;
  box-sizing: content-box;
  padding: 0 15px;
}
