div.signInForm {
  display: grid;
  gap: 15px;
  text-align: center;
  grid-template-columns: auto auto;
  top: 50%;
  left: 50%;
  margin: 0;
  position: absolute;
  transform: translate(-50%, -50%);
}
