autopep8==1.5.4
cachelib==0.1.1
click==7.1.2
Flask==1.1.2
Flask-Cors==3.0.9
Flask-HTTPAuth==4.1.0
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
mysql-connector-python==8.0.21
protobuf==3.13.0
pycodestyle==2.6.0
six==1.15.0
toml==0.10.1
Werkzeug==1.0.1
